<link rel="stylesheet" href="{{ '/assets/css/tetris.css' | relative_url }}">
<div class="game-container">
    <div id="game-board"></div>
    <div class="info">
        <p>score: <span id="score">0</span></p>
        <p>level: <span id="level">1</span></p>
        <div class="controls">
            <button class="game-button-newgame" onclick="pauseGame()">pause</button>
            <button class="game-button-restart" onclick="restartGame()">restart</button>
        </div>
    </div>
</div>
<script src="{{ '/assets/js/tetris.js' | relative_url }}" defer></script>